{{#each supply}}
    <tr>
        <td>{{brandName}}</td>
        <td>{{totalSupply}}</td>
        <td>{{ingredientID.ingredientName}}</td>
        <td>{{unitQuantity}}</td>
        <td>{{ingredientID.unitID.unitName}}</td> 
        <td class="shortonli">
            <form action="/supplies/{{this._id}}" method="POST">
            <input class="compare-inv" placeholder="Enter physical stock..." type="number" name="physicalCount" min="0">
            <button type="submit" class="btn btn-sm btn-primary">Check</button>
        </td>
    </tr>
{{/each}}