{{#each supply}}
    <tr>
        <td>{{brandName}}</td>
        <td>{{totalSupply}}</td>
        <td>{{ingredientID.ingredientName}}</td>
        <td>{{unitQuantity}}</td>
        <td>{{ingredientID.unitID.unitName}}</td> 
        <td class="shortonli">
            <input class="compare-inv" placeholder="Enter physical stock..." type="text" id="compare" name="compare"></td>
        </td>
    </tr>
{{/each}}