{{#each supply}}
    <tr>
        <td>{{brandName}}</td>
        <td>{{totalSupply}}</td>
        <td>{{ingredientID.ingredientName}}</td>
        <td>{{unitQuantity}}</td>
        <td>{{ingredientID.unitID.unitName}}</td> 
        <td class="shortonli">
            <form action="/supplies/check" method="POST">
            <input name="id" type="hidden" value="{{this._id}}">
            <input class="compare-inv" placeholder="Enter physical stock..." type="number" name="physicalCount" min="0">
            <button type="submit" class="btn btn-sm btn-primary">Check</button>
            </form>
        </td>
    </tr>
{{/each}}