<title>Orange &amp; Spices</title>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0 shadow">
            <div class="container-fluid d-flex flex-column p-0">
                <a class="navbar-brand d-flex justify-content-center align-items-center m-0" href="/POS#page-top">
                    <div class="sidebar-brand-icon"><img src="public/img/logo.png" width="75"></i></div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light" id="accordionSidebar">
                    <li class="nav-item" role="presentation"><a class="nav-link" style="background-color: #c64327 !important; color: #ffffff !important;" href="/POS">Point of Sale</a></li>
                    {{#if isAdmin}}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/products">Products</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/procurement">Procurement</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/expenseDetails">Accounting</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/order_history">Reports</a></li>
                    {{else}}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="/supplies">Inventory</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for products...">
                                <div class="input-group-append"><button class="btn btn-primary py-0 search-btn" type="button" ><i class="fas fa-search" style="font-size: 13px;"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" role="menu" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0 search-btn" type="button"><i class="fas fa-search" style="font-size: 13px;"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            
                            <li class="nav-item dropdown no-arrow" role="presentation">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 text-gray-600 small">{{username}}</span><img class="border rounded-circle img-profile" src="public/img/avatars/user.png"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in" role="menu">
                                        <a class="dropdown-item" role="presentation" href="/logout"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a></div>
                                </div>
                            </li>
                    </ul>
            </div>
            </nav>
            <div class="category">
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'bsush')">Baked Sushi</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'bspag')">Baked Spaghetti</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'adb')">Breakfast</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'crm')">Chicken</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'prm')">Pork</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'brm')">Beef</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn" onclick="openDiv(event, 'ac')">Ala Carte</button>
                <button type="button" class="btn btn-primary btn-sm categorybtn active" href="#" onclick="openDiv(event, 'all')">All</button>
           </div>
            <div class="container-fluid">
                <div id="all" class="col-6 divmenu" style="display: block;">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">All Products</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each ALL}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="ac" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Ala Carte</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each alaCarte}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="crm" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Chicken Rice Meals</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each CRM}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="prm" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Pork Rice Meals</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each PRM}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="brm" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Beef Rice Meals</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each BRM}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="adb" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">All Day Breakfast</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each ADB}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bspag" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Baked Spaghetti</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">                                 
                                    {{#each BSPAG}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="bsush" class="col-6 divmenu">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Baked Sushi</p>
                        </div>
                        <div class="card-body">
                            <div class="container text-center">
                                <div class="prod-row">
                                    {{#each BSUSH}}
                                        <div class="col-4">
                                            <button type="button" class="btn btn-primary btn-sm prod-btn" data-toggle="modal" data-target="#myModal">{{prodName}}</button>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 font-weight-bold">Billing and Order</p>
                        </div>
                        <div class="card-body">
                            <table class="table table-hover text-center table-sm">
                                <thead>
                                    <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Subtotal</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                      <td class="leftdiz">Breaded Porkchop</td>
                                      <td class="text-right" style="padding-right: 32px;">2</td>
                                      <td class="text-right" style="padding-right: 35px;">₱ 110.00</td>
                                      <td class="text-right pr-2">₱ 220.00</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                      <td colspan="2" class="bigto total leftdiz">Total</td>
                                      <td colspan="2" class="bigto total text-right pr-2">₱ 00.00</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="cancel font-weight-bold"><a href="/POS">Cancel</a></td>
                                        <td colspan="2" class="checkout font-weight-bold"><a href="#">Checkout</a></td>
                                    </tr>
                                </tfoot>
                              </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="myModal" class="modal" role="dialog" style="margin-top: 90px;">
            <div class="modal-dialog" style="width: 300px;">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title font-weight-bold" style="color: #f47639 !important;">Quantity</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="number" class="form-control" id="quantity" placeholder="Enter quantity">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary save-qty" style="background-color: #80C376 !important; color: #ffffff !important; border: 2px solid #80C376 !important;">Save</button>
                    <button type="button" class="btn btn-primary" style="background-color: #c64327 !important; color: #ffffff !important; border: 2px solid #c64327 !important;" data-dismiss="modal">Cancel</button>
                </div>
              </div>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © Orange &amp; Spices 2020</span></div>
            </div>
        </footer>
    </div><a class="border rounded d-inline scroll-to-top" href="/POS#page-top"><i class="fas fa-angle-up"></i></a></div>
</body>
